openapi: 3.1.0
info:
  title: SHIP Israel API Reference Contract
  version: 0.1.0
  description: |
    Partial contract covering the SHIP endpoints currently wrapped by this SDK.
    This file is a reference artifact for tooling and review. The SDK does not
    load it at runtime.
servers:
  - url: https://api.ship.co.il
  - url: https://newbetaapi.ship.co.il
paths:
  /Token:
    post:
      summary: Authenticate and get a bearer token
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                username:
                  type: string
                  description: Required. API username.
                password:
                  type: string
                  description: Required. API password.
                scope:
                  type: string
                  description: Required. Customer ID as a string.
                grant_type:
                  type: string
                  description: Required. Must be "password".
      responses:
        "200":
          description: Token response
  /api/v1/pickups/dates-ex:
    get:
      summary: Get available pickup dates
      responses:
        "200":
          description: Pickup dates response
  /api/v1/pickups/time-ex:
    get:
      summary: Get available pickup time ranges
      responses:
        "200":
          description: Pickup time ranges response
  /api/v1/pickups/getclosestpoints:
    get:
      summary: Get closest pickup points
      parameters:
        - in: query
          name: city
          required: true
          schema:
            type: string
        - in: query
          name: street
          required: true
          schema:
            type: string
        - in: query
          name: houseNumber
          required: true
          schema:
            type: string
        - in: query
          name: pointTypes
          required: false
          schema:
            type: string
        - in: query
          name: points
          required: false
          schema:
            type: integer
      responses:
        "200":
          description: Closest pickup points
  /api/v3/pickups/insert/pickup/domestic:
    post:
      summary: Create a domestic pickup booking
      responses:
        "200":
          description: Booking number string
  /api/v4/pickups/insert/pickup/export:
    post:
      summary: Create an export pickup booking
      responses:
        "200":
          description: Export booking response
  /api/v3/pickups/cancel/pickup:
    delete:
      summary: Cancel a pickup booking
      responses:
        "200":
          description: Cancel booking response
  /api/v1/shipments/drop-pickup-ex:
    post:
      summary: Create a pickup shipment
      responses:
        "200":
          description: Shipment creation response
  /api/v2/shipments/print/batch:
    get:
      summary: Download shipment label
      parameters:
        - in: query
          name: trackingNumber
          required: true
          schema:
            type: string
        - in: query
          name: labelFormat
          required: false
          schema:
            type: string
        - in: query
          name: copies
          required: false
          schema:
            type: integer
      responses:
        "200":
          description: Label payload
